<a href="https://colab.research.google.com/github/kh408623-art/1MIS2800/blob/main/Hamparian_IC3_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install --upgrade pandas ipython-sql prettytable==3.10.1

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Collecting pandas
  Downloading pandas-3.0.0-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (79 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.5/79.5 kB 2.6 MB/s eta 0:00:00
Requirement already satisfied: ipython-sql in /usr/local/lib/python3.12/dist-packages (0.5.0)
Collecting prettytable==3.10.1
  Downloading prettytable-3.10.1-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.12/dist-packages (from prettytable==3.10.1) (0.5.0)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: ipython in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (2.0.46)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.5.5)
Requirement already satisfied: six in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (75.2.0)
Collecting jedi>=0.16 (from ipython->ipython-sql)
  Downloading jedi-0.19.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: decorator in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.1)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.12/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.12/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Downloading prettytable-3.10.1-py3-none-any.whl (28 kB)
Downloading pandas-3.0.0-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (10.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.9/10.9 MB 59.8 MB/s eta 0:00:00
Downloading jedi-0.19.2-py2.py3-none-any.whl (1.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 53.6 MB/s eta 0:00:00
Installing collected packages: prettytable, jedi, pandas
  Attempting uninstall: prettytable
    Found existing installation: prettytable 3.17.0
    Uninstalling prettytable-3.17.0:
      Successfully uninstalled prettytable-3.17.0
  Attempting uninstall: pandas
    Found existing installation: pandas 2.2.2
    Uninstalling pandas-2.2.2:
      Successfully uninstalled pandas-2.2.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires pandas==2.2.2, but you have pandas 3.0.0 which is incompatible.
gradio 5.50.0 requires pandas<3.0,>=1.0, but you have pandas 3.0.0 which is incompatible.
bqplot 0.12.45 requires pandas<3.0.0,>=1.0.0, but you have pandas 3.0.0 which is incompatible.
db-dtypes 1.5.0 requires pandas<3.0.0,>=1.5.3, but you have pandas 3.0.0 which is incompatible.
Successfully installed jedi-0.19.2 pandas-3.0.0 prettytable-3.10.1

In [2]:
!pip install ipython-sql
print("ipython sql installed")

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.12/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (3.10.1)
Requirement already satisfied: ipython in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (2.0.46)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.5.5)
Requirement already satisfied: six in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (75.2.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.1)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.12/dist-packages (from prettytable->ipython-sql) (0.5.0)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.12/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.12/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
ipython sql installed

In [3]:
%load_ext sql

In [5]:
import sqlite3
print("sqlite3 imported")

sqlite3 imported

In [6]:
conn = sqlite3.connect('SuperBowl_Finance.db')
print("SuperBowl_Finance database created")

SuperBowl_Finance database created

In [7]:
%sql sqlite:///SuperBowl_Finance.db

In [9]:
%%sql
CREATE TABLE IF NOT EXISTS stock_performance (
    ticker TEXT,
    price_before_game REAL,
    price_week_after_game REAL,
    trading_volume_millions INTEGER
) STRICT;

 * sqlite:///SuperBowl_Finance.db
Done.

[]

In [10]:
%%sql
insert into stock_performance (ticker, price_before_game, price_week_after_game, trading_volume_millions)
values
 ('PEP',168.50, 172.10, 45),
 ('GOOGL', 142.80, 145.20, 110),
 ('AMZN', 170.20, 178.45, 95),
 ('VZ', 40.10, 39.85, 60),
 ('TSLA', 190.00, 185.20, 150),
 ('TMUS', 197.68, 199.34, 100),
 ('STLA', 22.40, 23.10, 15);

 * sqlite:///SuperBowl_Finance.db
7 rows affected.

[]

In [15]:
%%sql
create table ad_buys (
    ticker TEXT PRIMARY KEY,
    compnay_name TEXT,
    ad_costs_millions REAL,
    airtime_second INTEGER
) STRICT;

 * sqlite:///SuperBowl_Finance.db
(sqlite3.OperationalError) table ad_buys already exists
[SQL: create table ad_buys (
    ticker TEXT PRIMARY KEY,
    compnay_name TEXT,
    ad_costs_millions REAL,
    airtime_second INTEGER
) STRICT;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [16]:
%%sql
insert into ad_buys (ticker, compnay_name, ad_costs_millions, airtime_second)
values
  ('PEP', 'PepsiCo', 7.0, 30),
  ('GOOGL', 'Alphabet (Google)', 14.0, 60),
  ('AMZN', 'Amazon', 14.0, 60),
  ('VZ', 'Verizon', 7.0, 30),
  ('TSLA', 'Tesla', 0.0, 0), -- Tesla doesn't buy ads
  ('TMUS', 'Tmobile', 10.0, 30),
  ('STLA', 'Stellantis (Jeep)', 6.5, 30);

 * sqlite:///SuperBowl_Finance.db
7 rows affected.

[]

In [17]:
%%sql
Select * from stock_performance

 * sqlite:///SuperBowl_Finance.db
Done.

[('PEP', 168.5, 172.1, 45),
 ('GOOGL', 142.8, 145.2, 110),
 ('AMZN', 170.2, 178.45, 95),
 ('VZ', 40.1, 39.85, 60),
 ('TSLA', 190.0, 185.2, 150),
 ('TMUS', 197.68, 199.34, 100),
 ('STLA', 22.4, 23.1, 15)]

In [18]:
#Block 6
# # Instructions: Show the ticker and price before the game
# sort by ticker in alphabetical order from the stock_performance table
%%sql
select ticker, price_before_game
from stock_performance
order by ticker asc

 * sqlite:///SuperBowl_Finance.db
Done.

[('AMZN', 170.2),
 ('GOOGL', 142.8),
 ('PEP', 168.5),
 ('STLA', 22.4),
 ('TMUS', 197.68),
 ('TSLA', 190.0),
 ('VZ', 40.1)]

In [20]:
#Block 7
# # Instructions: Show all the columns for the brands that have a ticker
# beginning with the letter T in the stock_performance table

%%sql
select *
from stock_performance
where ticker like 'T%'

 * sqlite:///SuperBowl_Finance.db
Done.

[('TSLA', 190.0, 185.2, 150), ('TMUS', 197.68, 199.34, 100)]

In [21]:
#Block 8
# # Instructions: Show only the ticker and price_after_game
# from the stock_performance table if the price is above 150

%%sql
select ticker, price_week_after_game
from stock_performance
where price_week_after_game > 150

 * sqlite:///SuperBowl_Finance.db
Done.

[('PEP', 172.1), ('AMZN', 178.45), ('TSLA', 185.2), ('TMUS', 199.34)]

In [22]:
%%sql
select * from ad_buys

 * sqlite:///SuperBowl_Finance.db
Done.

[('PEP', 'PepsiCo', 7.0, 30),
 ('GOOGL', 'Alphabet (Google)', 14.0, 60),
 ('AMZN', 'Amazon', 14.0, 60),
 ('VZ', 'Verizon', 7.0, 30),
 ('TSLA', 'Tesla', 0.0, 0),
 ('TMUS', 'Tmobile', 10.0, 30),
 ('STLA', 'Stellantis (Jeep)', 6.5, 30)]

In [23]:
#Block 10
# # Instructions: Show the ticker and company_name from the ad_buys table in
# sort in descending order by company_name
%%sql
select ticker, compnay_name
from ad_buys
order by compnay_name desc

 * sqlite:///SuperBowl_Finance.db
Done.

[('VZ', 'Verizon'),
 ('TMUS', 'Tmobile'),
 ('TSLA', 'Tesla'),
 ('STLA', 'Stellantis (Jeep)'),
 ('PEP', 'PepsiCo'),
 ('AMZN', 'Amazon'),
 ('GOOGL', 'Alphabet (Google)')]

In [24]:
#Block 11
# # Instructions: Show the ticker and airtime seconds from the ad_buys table
# Filter to show only if the ticker begins with T and and airtime seconds is 0

%%sql
select * from ad_buys
where ticker like 'T%' and airtime_second = 0

 * sqlite:///SuperBowl_Finance.db
Done.

[('TSLA', 'Tesla', 0.0, 0)]